<h4>{{item.name}}</h4>
<img src="/img/{{item.image}}" alt="{{item.name}}" width="300" height="400">
<div>
	<select onchange={{action 'changeCategory' value='target.value'}}>
		<option value="breakfast">Breakfast</option>
		<option value="lunch">Lunch</option>
		<option value="dinner">Dinner</option>
	</select>
	<button {{action 'chooseItem' food.name}} >Select Item</button>
</div>
<span class="link">{{#link-to 'item' item.id}}Details{{/link-to}}</span>
{{yield}}